<!-- Home Posts -->
<section class="home-posts">
  <div class="centring">
      <p id="notice"><%= notice %></p>

      <h1>
        <%= @post.name %>
      </h1>

  </div>
</section>
<!-- Cancel Home Posts -->

<!-- Posts -->
<section class="posts">
  <div class="centring">
      <article>
        <p>
          <%= @post.content %>
        </p>
      </article>
  </div>
</section>
<!-- Cancel Posts -->

<!-- Comments -->
<section class="comments">
  <div class="centring">
    <article>
      <h2>Comments</h2>

      <%= render @post.comments %>
    </article>
  </div>
</section>
<!-- Cancel Comments -->

<!-- Comments -->
<section class="comments">
  <div class="centring">
    <article>
      <h2>Add comments</h2>
      <div class="panel-67">

        <%= render "comments/form" %>

      </div>
      <div class="clean"></div>
    </article>
  </div>
</section>
<!-- Cancel Comments -->

<section class="posts">
  <div class="centring">
    <p>

      <% if user_signed_in? %>

        <%= link_to 'Edit', edit_post_path(@post) %>
        |
        <%= link_to 'Back', posts_path %>

      <% else %>

        <%= link_to 'Back', posts_path %>

      <% end %>
    </p>
  </div>
</section>