<!-- Home Posts -->
<section class="home-posts">
  <div class="centring">
      <p id="notice"><%= notice %></p>

      <h1>
        <%= @post.name %>
      </h1>

      <p>
        <small>
          <strong><%= @post.title %></strong>
        </small>
      </p>
  </div>
</section>
<!-- Cancel Home Posts -->

<!-- Posts -->
<section class="posts">
  <div class="centring">
      <article>
        <p>
          <%= @post.content %>
        </p>

        <hr>
        <p>
          <%= link_to 'Edit', edit_post_path(@post) %>
          |
          <%= link_to 'Back', posts_path %>
        </p>
      </article>
  </div>
</section>
<!-- Cancel Posts -->