<!-- Home Posts -->
<section class="home-posts">
  <div class="row">
    <h1>
      <%= @post.name %>
    </h1>
    <p>
      <small><%= @post.created_at.to_s(:short) %></small>
      <br>
      <small><%= join_tags(@post) %></small>
    </p>

  </div>
</section>
<!-- Cancel Home Posts -->

<div class="row">
  <div class="small-12 large-12 columns">
    <!-- Posts -->
    <section class="posts">
        <article>
          <p>
            <%= @post.content %>
          </p>
        </article>
    </section>
    <!-- Cancel Posts -->

    <!-- Comments -->
    <section class="comments">
        <article>
          <h2>Comments</h2>

          <%= render @post.comments %>
        </article>
    </section>
    <!-- Cancel Comments -->

    <!-- Comments -->
    <section class="comments">
        <article>
          <h2>Add comments</h2>
          <div class="panel-67">

            <%= render "comments/form" %>

          </div>
          <div class="clean"></div>
        </article>
    </section>
    <!-- Cancel Comments -->
  </div>

  <div class="small-12 large-12 columns">
    <section class="posts">
      <p>

        <% if user_signed_in? %>

            <%= link_to 'Edit', edit_post_path(@post) %>
            |
            <%= link_to 'Back', posts_path %>

        <% else %>

            <%= link_to 'Back', blog_index_path %>

        <% end %>
      </p>
    </section>
  </div>
</div>