<!-- Home Posts -->
<section class="home-posts">
  <div class="row">
    <h1>Blog</h1>
    <p>Tips, tricks, articles. <br> About Front-End.</p>
  </div>
</section>
<!-- Cancel Home Posts -->

<!-- Posts -->
<section class="posts">
  <div class="row">

    <% @blog.each do |post| %>
        <!-- Panel -->
        <div class="small-6 large-6 columns">
          <!-- Article -->
          <article class="article">
            <div class="post">
              <h2><%= post.name %></h2>
              <p>
                <small><%= post.created_at.to_s(:short) %></small>
              </p>
              <p>
                <%= post.title %>
              </p>

              <p>
                <%= link_to 'Detail', post %>
              </p>
            </div>
          </article><!-- Cancel Article -->
        </div><!-- Cancel Panel -->
    <% end %>

    <div class="small-12 large-12 columns">
      <%= will_paginate @posts %>
    </div>
  </div>
</section>
<!-- Cancel Posts -->